[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "AquaBEHER"]
	path = AquaBEHER
	url = https://github.com/robeltakele/aquabeher
	shallow = true
	registered = true
